<div class="follow-index">
  <div id="follow-count">
    <%= link_to follows_user_path(user) do %>
      <h6>フォロー<%= @following_users.count %></h6>
    <% end %>
  </div>
  <div id="follower-count">
    <%= link_to followers_user_path(user) do %>
      <h6>フォロワー<%= @follower_users.count %></h6>
    <% end %>
  </div>
</div>

<%= link_to 'フォロー中', user_relationships_path(user.id), method: :delete, remote: true, class: "btn-sm btn-danger" %>