<%= render "shared/header" %>

<div class="contents-row">
  <h2><%= @user.nickname %></h2>
  <h3><%= @user.profile %></h3>
  <ul class="user-btn">
    <% if user_signed_in? && current_user.id == @user.id %>
      <li><%= link_to "プロフィールを編集する", edit_user_registration_path(@user.id) %></li>
    <% end %>
  </ul>
  
  <% if user_signed_in? && current_user.id != @user.id %>
    <div id="follow-btn-<%= @user.id %>">
      <% if current_user.following?(@user) %>
        <%= render 'relationships/unfollow_form', user: @user %>
      <% else %>
        <%= render 'relationships/follow_form', user: @user %>
      <% end %>
    </div>
  <% end %>

  <div class="follow-index">
    <%= link_to follows_user_path(@user) do %>
      <h6>フォロー<%= @following_users.count %></h6>
    <% end %>
    <%= link_to followers_user_path(@user) do %>
      <h6>フォロワー<%= @follower_users.count %></h6>
    <% end %>
  </div>

  <div class="user-posts">
    <p>投稿一覧</p>
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= image_tag post.post_image %>
      <% end %>
      <%= post.title %>
      <%= @user.nickname %>
      <%= post.category.name %>
    <% end %>
  </div>
  <%= paginate @posts %>

  <div class="favorite-index">
    <%= link_to favorites_user_path(@user) do %>
      <h6>いいねした記事一覧<%= @favorite_list.count %></h6>
    <% end %>
  </div>

</div>