<header class="top-page-header">
  <h1 class="logo"><a href="/">Osintro</a></h1>

  <div class="search-bar-contents">
    <%= search_form_for Post.ransack(params[:q]), url: seek_posts_path, html: {id: 'search-form'} do |f|%>
      <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
      <%= f.text_field :title_or_content, placeholder: 'キーワードを入力', value: params[:q]&.dig(:title_or_content), class: 'input-box' %>
      <%= f.label :submit, class: 'search-button' do %>
        <input type="submit" value="検索" class="send">
        <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
      <% end %>
    <% end %>
  </div>

  <nav>
    <ul class="lists-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "login-out" %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: "login-out" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "login-out" %></li>
      <% end %>
    </ul>
    <%= link_to "投稿する", new_post_path, class: "new-post-btn" %>
  </nav>

</header>