<%= render "shared/header" %>

<div class="post-index">
  <!-- メインエリア -->
  <article>
    <div class="post-contents">
      <% @posts.each do |post| %>
        <ul>
          <li class="post-list">
            <%= link_to post_path(post.id),class: "post-card" do %>
              <%= image_tag post.post_image, class: "post-img" %>
              <h3 class="post-title"><%= post.title %></h3>
              <p class="post-info">投稿したユーザー<br><%= post.user.nickname %></p>
              <p class="post-info">カテゴリー<br><%= post.category.name %></p>
            <% end %>
          </li>
        </ul>
      <% end %>
      <%= paginate @posts %>
    </div>
  </article>

  <!-- サイドバー -->
  <aside>
    <h3 class="sub-title">カテゴリー</h3>
    <ul class="sub-menu">
      <li>ゲーム</li>
      <li>ミュージック</li>
      <li>映画</li>
      <li>その他</li>
    </ul>
  </aside>
</div>

<%= render "shared/footer" %>