<%= render "shared/header" %>

<div class="post-index">
  <!-- メインエリア -->
  <article>
    <div class="post-contents">
      <% @posts.each do |post| %>
        <ul>
          <li class="post-list">
            <%= link_to post_path(post.id),class: "post-card" do %>
              <%= image_tag post.post_images[0], class: "post-img" %>
              <h3 class="post-title"><%= post.title %></h3>
              <p class="post-info">投稿したユーザー<br><%= post.user.nickname %></p>
              <p class="post-info">カテゴリー<br><%= post.category.name %></p>
            <% end %>
          </li>
        </ul>
      <% end %>
      <%= paginate @posts %>
    </div>
  </article>

  <%= render 'shared/side_bar' %>

</div>

<%= render "shared/footer" %>