<%= render "shared/header" %>

<div class="post-show">

  <div class="post-show-main">

    <%# 投稿概要 %>
    <div class="post-box">
      <div class="user-date">
        投稿者：<%= link_to @post.user.nickname, user_path(@post.user_id) %>
        <div class="date-category-tag">
          <%= @post.created_at.strftime('%Y/%m/%d') %>/更新：<%= @post.updated_at.strftime('%Y/%m/%d') %>
          <%= @post.category.name %>/<%= @post.tag %>
        </div>
      </div>
        <h2 class="post-show-title">
          <%= @post.title %>
        </h2>

      <div class="post-image-content">
        <%= image_tag @post.post_image, alt: "投稿画像", class: "post-show-img" %>
      </div>

      <div class="post-explain-box">
        <span><%= @post.content %></span>
      </div>

      <div class="link-cord"><%= @post.link %></div>

      <div id="favorite_btn_<%= @post.id %>">
        <%= render 'favorites/favorite', post: @post %>
      </div>

      <div class="edit-delete">
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <%= link_to "投稿の編集", edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-destroy-btn" %>
        <% end %>
      </div>
    </div>
    <%# /投稿概要 %>

    <%# コメント %>
    <div class="comment-box">
      <% if user_signed_in? && @post.user_id != current_user.id %>
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントを入力してください", rows: "4", class: "comment-form" %><br>
          <%= form.submit "コメントを送る", class: "comment-btn" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <h4>＜コメント一覧＞</h4>
      <div class="comments">
        <% @comments.each do |comment| %>
            <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
            <%= comment.text %>
          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %>
          <% end %><br>
        <% end %>
      </div>
    </div>
    <%# /コメント %>
    <div class="report-btn">
      <span>不適切な投稿の通報</span>
    </div>

  </div>

  <%# サイドバー %>
  <aside>
    <h3 class="sub-title">カテゴリー</h3>
    <ul class="sub-menu">
      <li>ゲーム</li>
      <li>ミュージック</li>
      <li>映画</li>
      <li>その他</li>
    </ul>
  </aside>
  <%# /サイドバー %>

</div>

<%= render "shared/footer" %>