<div class="post-show">

  <%# 投稿概要 %>
  <div class="post-box">
    <h2 class="name">
      <%= @post.title %>
    </h2>

    <div class="post-image-content">
      <%= image_tag @post.post_image, alt: "投稿画像", class: "post-image" %>
    </div>

    <div class="post-explain-box">
      <span><%= @post.content %></span>
    </div>

    <div class="post-detail">
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-key">投稿者</th>
            <td class="detail-value"><%= @post.user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-key">カテゴリー</th>
            <td class="detail-value"><%= @post.category.name %></td>
          </tr>
          <tr>
            <th class="detail-key">リンク</th>
            <td class="detail-value"><%= @post.link %></td>
          </tr>
          <tr>
            <th class="detail-key">タグ</th>
            <td class="detail-value"><%= @post.tag %></td>
          </tr>
          <tr>
            <th class="detail-key">投稿日</th>
            <td class="detail-value"><%= @post.created_at %></td>
          </tr>
          <tr>
            <th class="detail-key">最終更新日</th>
            <td class="detail-value"><%= @post.updated_at %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="option">
      <div class="favorite-btn">
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <span>不適切な投稿の通報</span>
      </div>
    </div>

    <% if user_signed_in? && @post.user_id == current_user.id %>
      <%= link_to "投稿の編集", edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-destroy" %>
    <% end %>
  </div>
  <%# /投稿概要 %>

  <%# コメント %>
  <div class="container">
    <% if user_signed_in? && @post.user_id != current_user.id %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを入力してください", rows: "2" %>
        <%= form.submit "コメントを送る" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
          <%= comment.text %>
        </p>
        <% if user_signed_in? && comment.user_id == current_user.id %>
          <p><%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# /コメント %>

</div>




